*{
    box-sizing: border-box;	
    }
    
    .card {
        height: 40%;
    }
    
    a.blog-link {	
        color:black;
        text-decoration:none;
    }
    
    a.blog-link:hover {	
        color: #adadad;
    }
    
    .column {
        float:left;
        width:15%;
        padding:2px;
        height:100px;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    